

body{
    background-image: url(./Imagens/matrix.png);
    padding: 3%;    
}

h1, h2, h3, p{
    color: white;
    font-family: Noto Sans, sans-serif;
}

a{    
    text-align: center;
    width: 230px;
    margin: 2% 7%;
    font-weight: 700;
    font-size: 20px;
    padding: 15px;
    background: rgba(158, 154, 154, 0.377);
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    text-decoration: none;    
}

#danSocial{
    width: 220px;
    border-radius: 10%;
}

#home{   
    width: 900px;
    margin: auto;
    text-align: center;
}

#imagHome{   
    display: inline-block;
    margin-left: 40px;
    margin-top: 20px; 
    
}

#textHome{    
    display: inline-block;
    vertical-align: top;
    font-size: 2em;    
    width: 500px;
    margin-top: 20px;
}

#menu{    
    width: 750px;
    margin: auto;
    margin-top: 40px;
}

.button{    
    width: 300px ;
    display: inline-block;
    padding: 20px;
    margin-bottom: 10px;
}

#menu a:hover{
    color: green;
    border: 3px solid green;
    background: rgba(0, 128, 0, 0.322);
    
}