body {
  background-color: #282c34;
  color: azure;
  text-align: center;
}

.testRowHome {
 border: solid 2px red;
 height: 100vh; 

}

.testCol {
  border: solid 2px rgb(9, 255, 0);
  width: 100%;  
}

.fotoHome {
  width: 200px;
  border-radius: 100%;
}