

.body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(46, 44, 44);
  color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fotoHome {
  border-radius: 100%;
  width: 60%;
  max-width: 190px;
  margin: 10px;
}

.texto {
  margin: 0px;
}

.navButton {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.containerHome {
  margin-top: 60px;
  margin-bottom: 100px;
}

.containerAbout {
  margin-bottom: 100px;
}

.containerContact {
  margin-bottom: 100px;
}

.containerAbout .btn {
  height: 35px;
  width: 180px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px; 
}

.containerFooter .navbar {
  background-color: rgba(69, 71, 71, 0.719);
}

.navbar {
  background-color: rgba(1, 168, 1, 0.897);  
}
